
  
  .orders {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .order_card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .order-details p {
    margin: 5px 0;
  }
  
  .order_details p strong {
    font-weight: bold;
  }
  
  .update_status {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .update_status select {
    padding: 5px;
  }
  
  .update_status button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .update_status button:hover {
    background-color: #0056b3;
  }
  